<div class="mob-timer">
  <app-timer [mobTime]="mobTime$ | async" (changeTime)="changeTime($event)" class="mob-timer-item-timer"></app-timer>
  <app-members [members]="mobMembers$ | async" (addMember)="addMember($event)" class="mob-timer-item-members"></app-members>
</div>
<div class="mobbing">
  <div class="counter" *ngIf="countdownValue$ | async as time; else defaultCount">
    <div>{{ time }}</div>
  </div>
  <ng-template class="counter" #defaultCount>00:00</ng-template>
  <button class="start-button" [disabled]="!(readyMobbing$ | async)" (click)="startMobbing()">Start Mobbing</button>
</div>
