.mob-timer {
  display: flex;
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
}

.mob-timer-item-timer {
  flex-basis: 30%;
}

.mob-timer-item-members {
  flex-basis: 70%;
}

.start-button {
  width: 300px;
  font-size: 24px;
  border-radius: 4px;
}
